{% extends 'base.html' %}
{% block content %}
      </div>
    </header>
<main class="py-5 px-3">
  <div class="container-fluid">
    <section>
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card h-100" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create a new Recipe</h2>
                    <p class="red-text">{{ error_message }}</p>
                      <form method="POST" action="">
                       {% csrf_token %}
                        Name of New Recipe: {{ form.name }}
                        <br>
                        Recipe Description: {{ form.description }}
                        <br>
                        <input type="submit" class="btn btn-secondary ml-2 btn-sm" value="Create">
                     </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div> 
</main>
<br>
<br>
<br>
<footer class="mt-auto text-white-50"><div>All Rights Reserved, &copy; 2023 NextPlate &nbsp;</div></footer>
</div>
{% endblock %}