{% extends 'base.html' %}

{% block content %}


<div class="recipecontainer">

<div class="card">
<div class="TOP">{{recipe.name}}</div>   
{% for photo in recipe.photo_set.all %}
<div class="jumbotron jumbotron-fluid text-center">
    <img class="responsive-img card-panel" src="{{photo.url}}"> 
</div>
  
{% empty %}
{% if user == recipe.user %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    <form action="{% url 'add_photo' recipe.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <button type="submit" class="btn">Upload Photo</button>
    </form>
{% endif %}
{% endfor %}
      

<div class="row">
    {% if user == recipe.user %}
        <div class="card-action">
          <a href="{% url 'recipe_update' recipe.id %}">Edit</a>
          <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
        </div>
        <div class="card-content">
          <p>Description: {{ recipe.description }}</p>
        </div>
    {% else %}
      <div class="card-content">
        <p>Description: {{ recipe.description }}</p>
      </div>
    {% endif %}
  </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <table>
              <thead>Ingredients</thead>
                {% for item in recipeingredients %}
                <tbody>
                <tr>
                  <div class="row">
                    <div class="col">
                      {{item.amount}} {{item.measurement}} of {{item.name}}
                    </div>                    
                    {% if user == recipe.user %}
                    <div class="col">
                      <div class="btn-group" role="group" aria-label="Ingredient Actions">
                        <form action="{% url 'ingredient_remove' recipe.id item.id %}" method="POST">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-danger btn-sm" value="Remove">
                        </form>
                        <form action="{% url 'ingredient_edit' recipe.id item.id %}" method="POST">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-secondary ml-2 btn-sm" value="Edit">
                        </form>
                      </div>
                    </div>
                    {% endif %}
                  </div>  
                {% endfor %}
                </tr>
          {% if user == recipe.user %}
          <form action="{% url 'ingredient_add' recipe.id %}" method="POST">
            {% csrf_token %}
            Amount: {{form.amount}}
            <br>
            Measurement: {{form.measurement}}
            <br>
            Name: {{form.name}}
            <br>
           <input type="submit" class="btn btn-success ml-2 btn-sm" value="Add An Ingredient!">
          </form>
          {% endif %}        
        </tbody>    
    </table>
        </div>
            <div class="col">
              <table>
                <thead>
                  <a href="{% url 'instructions_list' recipe.id %}">Instructions</a>
                </thead>
                <tbody>
                  {% for everyinstruction in recipeinstructions %}
                  <div class="row">
                    <div class="col-9">
                      <span class="d-block">
                        Step {{everyinstruction.step}}: {{everyinstruction}}
                        <br>
                      </span>
                    </div>
                    <div class="col-3">
                      <form action="{% url 'delete_instruction' everyinstruction.recipe.id everyinstruction.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Remove">
                      </form>
                    </div>
                  </div>
                  {% endfor %}
                  <br>
                  {% if user == recipe.user %}  
                      <form action="{% url 'instruction_create' recipe.id %}" method="POST">
                        {% csrf_token %}
                        Step: {{ instructform.step }}
                        <br>
                        Directions: {{ instructform.directions }}
                        <input type="submit" class="btn btn-success btn-sm" value="Add A Step!">
                      </form>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
<script>
  const selectEl = document.getElementById('id_measurement');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
