{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="card">
  <div class="card-content">
      <span class="card-title">{{ recipe.name }}</span>
      <p>Description: {{ recipe.description}}</p>
  </div>
  {% if user == recipe.user %}
  <div class="card-action">
    <a href="{% url 'recipe_update' recipe.id %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
  </div>
  {% else %}
  <div class="card-action">
    <form action="{% url 'recipe_save' recipe.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      <input type="submit" class="btn" value="Save Recipe">
    </form>
  </div>
  {% endif %}
</div>

{% endblock %}