{% extends 'base.html' %}
{% block content %}

<h1>Recipe List</h1>
<button><a href="{% url 'recipe_create' %}">Add New Recipe</a></button>
<button><a href="{% url 'personal_list' %}">Show Recipes Only Ive Created</a></button>
<button><a href="{% url 'recipe_index' %}">Show All User Recipes</a></button>
{% for recipe in recipe_list %}
  <a href="{% url 'recipe_detail' recipe.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ recipe.name }}</span>
            <p>Created by: {{recipe.user}}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}