{% extends 'base.html' %}

{% block content %}

<h1>Recipe Details</h1> 
<div class="card">
    <div class="card-content">
           <span class="card-title">{{recipe.name}}</span>
           <h6>Ingredients:</h6><h6>{{recipe.ingredients}}</h6>
           <h6>Instructions:</h6><h6>{{recipe.description}}</h6>
    </div>
  </div>
<form action="{% url 'savedrecipes_delete' recipe.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn" value="Delete This Recipe?">
</form>
{% endblock %}
