{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="navlist col-md-4">
    <ul>
      <br>
      <br>
      <h1>Saved Recipes</h1>
      <br>
      <br>
      <h3><a class="nav-item" href="{% url 'find_recipes' %}">Find New Recipes</a></h3>
      
      <h3><a class="nav-item" href="{% url 'recipe_index' %}">Show All User Recipes</a></h3>
    </ul>
  </div>

  <div class="recipebox col-md-8">
    {% for savedrecipe in object_list %}
    <a href="{% url 'savedrecipes_detail' savedrecipe.id %}">
    <div class="row py-5">
    <div class="col">
      <h2 class="card-title">{{ savedrecipe.name }}</h2>
    </div>
  </div>
   <div class="col px-5 align-items-center">
    <div class="align-items-center">
      <h4 class="card-title">Ingredients:</h4>
      </div>
      <div>
        <h6>{{savedrecipe.ingredients}}</h6>
      </div>
      <div class="align-items-center">
        <h4 class="card-title">Instructions:</h4>
        </div>
        <div>
          <h6>{{savedrecipe.description}}</h6>
        </div>
    </div>
  </a>

  <div class="line">_</div>
    {% endfor %}
  </div>
  
</div>
{% endblock %}
