{% extends 'base.html' %}

{% block content %}

   <h1>NextPlate</h1>
  <h3>Type in some food and we can find some recipes!!</h3>
  <form method="get" action="{% url 'find_recipes' %}">
    <input type="text" name="q">
    <button type="submit">Search</button>
  </form>


  {% for recipe in recipelist %}
  {{ingredient}}
  <div class="card">
    <div class="card-content">
    <a href="{% url 'recipe' recipe.title %}"><span class="card-title">{{ recipe.title }}</span></a>
  </div>
  </div>
  
{% endfor %}   



{% endblock %}