{% extends 'base.html' %}
{% block content %}

<div class="divcontainer">
    <div class="searchcontainer">
        <div style="margin-left: 10%;">
          <h1>Search Here For New Recipes!!</h1>
        <form method="get" action="{% url 'find_recipes' %}">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>  
        </div>
        
    </div>
   
  
  <div class="divcard">
    {% for recipe in recipelist %}
    <div>
        <div class="card-content">
        <a href="{% url 'recipe' recipe.title %}"><h4 class="recipetitle">{{ recipe.title }}</h4></a>
        </div>
    </div>
    {% endfor %}  
  </div> 
</div>

  
  

   
  
 



{% endblock %}