{% extends 'base.html' %}
{% block content %}

<h1>{{title}}</h1>
<div class="card">
    <div class="card-content">
    <span class="card-title">{{ title }}</span>
    <h6>Ingredients:</h6> <h6> {{ ingredients}}</h6>
    <h6>Instructions: </h6> <h6> {{ instructions }}</h6>
  </div>
  </div>
  <form action="{% url 'savedrecipes_create' title %}" method="POST">
    {% csrf_token %}

    <input type="hidden" name="name" value="{{title}}">
    <input type="hidden" name="ingredients" value="{{ingredients}}">
    <input type="hidden" name="description" value="{{instructions}}">

    <input type="submit" value="Save Recipe" class="btn">
  </form>


{% endblock %}